{% extends 'myapp/base.html' %}

{% block d %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Активы</title>
</head>
<body>
    <h1>Активы</h1>
    <table>
        <thead>
            <tr>
                <th>Название актива</th>
                <th>Объём</th>
                <th>Средняя цена</th>
                <th>Текущая цена</th>
                <th>изм.24ч.</th>
                <th>Количество</th>
                <th>Стоимость</th>
                <th>Прибыль</th>
            </tr>
        </thead>
        <tbody>
            {% for active in object_list %}
            <tr>
                <td>{{ active.active_id__active_name }}</td>
                <td>{{ active.value|floatformat:2 }}</td>
                <td>{{ active.weighted_average_price|floatformat:2 }}</td>
                <td>{{ active.active_id__now_price|floatformat:2 }}</td>
                <td> ХУЙ </td>
                <td>{{ active.total_count|floatformat:2 }}</td>
                <td>{{ active.current_value|floatformat:2 }}</td>
                <td>{{ active.profit|floatformat:2 }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">Нет активов</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}