{% extends 'myapp/base.html' %}

 {% block a %}
        <table>
                <thead>
                    <tr>
                        <th>Монета</th>
                        <th>Изм. за 24ч</th>
                        <th>Изм. за 7 дней</th>
                        <!-- Добавьте другие заголовки столбцов, если нужно -->
                    </tr>
                </thead>
                <tbody>
                   <!-- Отображаем только первые 6 монет -->
                        <tr>
                            <td>{{ close_price }}</td>
                            <td>{{ low_price }}</td>
                            <td>{{ high_price }}</td> <!-- Предполагаем, что у вас есть поле change_7d в объекте монеты -->
                            <!-- Добавьте дополнительные столбцы, если нужно -->
                        </tr>

                </tbody>
        </table>
{% endblock %}